<div class="row mb-3">
  <div class="col-md-4">
    <label for="userSelect">Sélectionner un utilisateur :</label>
    <select
      id="userSelect"
      class="form-select"
      [ngModel]="userId"
      (ngModelChange)="onUserChange($event)"
    >
      <option value="" disabled >Sélectionner un utilisateur</option>
      <option *ngFor="let u of users" [value]="u.id">{{ u.name }}</option>
    </select>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
      </div>
    </div>
  </div>
</div>
<br />
<div [ngSwitch]="view">
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="(events$ | async) || []"
    [refresh]="refresh"
  >
  </mwl-calendar-week-view>
</div>


